<div class="users" ng-scrollbar rebuild-on-resize rebuild-on="scrollRebuild">
    <header class="controls controls_mt">
        <span class="controls__text">People nearby</span>
        <p class="controls__divider controls__divider_1"><span class="line"></span></p>
        <!--<div class="fast-filter">

            <input id="recommended" type="radio" name="filter" class="fast-filter__radio" checked>
            <label for="recommended" class="fast-filter__label">Recommended</label>

            <input id="related" type="radio" name="filter" class="fast-filter__radio">
            <label for="related" class="fast-filter__label">Most related</label>

        </div>
        <div class="controls__icon search-icon-b"></div>
        <div class="controls__icon filter-icon-b"></div>-->
    </header>

    <ul class="users-list">
        <li class="users-list__item" ng-repeat="user in users">
            <a ui-sref="app.users.id({id: user.id})" class="users-list__link">
                <img ng-src="{{ getUserImgUrl(user.photos.photo200px) }}" alt="" class="users-list__img">
                <div class="short-info-box">
                    <p class="short-info-box__distance short-info-box__distance_block">{{getFormattedDistance(user.distance)}}</p>
                    <p class="short-info-box__name short-info-box__distance_block">{{user.name + ' ' + user.surname}}</p>
                    <div class="ponches-wrapper" ng-show="user.ponches.length > 0">
                        <ul class="ponches">
                            <li class="ponches__item">
                                <p
                                   class="ponches__link ponch__link_icon-b"
                                   ng-class="{'favorite': ponch.matches}"
                                   ng-repeat="ponch in user.ponches | limitTo: 2">
                                    {{ ponch.name }}
                                </p>
                            </li>
                        </ul>
                        <div class="ponches__counter" ng-show="user.ponches.length > 2">
                            <p  class="ponches__link ponches__link_round" ng-class="{ 'favorite' : user.ponches[2].matches}">
                                +{{user.ponches.length-2}}
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>