.cf:after,
.cf:before {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
.fl-l {
  float: left;
}
.fl-r {
  float: right;
}
.ta-r {
  text-align: right;
}
.ta-l {
  text-align: left;
}
.ta-c {
  text-align: center;
}
body {
  overflow: hidden;
}
.app {
  height: 100vh;
  width: 100vw;
  display: block;
  font-family: "Roboto", sans-serif;
}
.content {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: block;
}
#map {
  height: 100vh;
}
.ngsb-wrap .ngsb-scrollbar {
  right: -4px;
}
.ngsb-wrap .ngsb-scrollbar .ngsb-thumb-pos:active {
  background: none;
}
.empty-list-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  width: 100%;
  display: block;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.banner {
  /*position: absolute;
  left: 10%;
  right: 10%;
  bottom: 10%;
  top: 10%;
  overflow: hidden;
  z-index: 1;*/
}
.scroll {
  overflow-y: scroll;
  max-height: 100vh;
}
place-picker {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: block;
}
.ponch__link_icon-b:before {
  content: '';
  background: url(../img/ponch-icon.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.ponch__link_change-b:before {
  content: '';
  background: url(../img/ponch-edit.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.logout-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/exit-icon.png);
  margin-top: 12px;
}
.logo_icon-b:before,
.logo-icon-white-b:before {
  content: "";
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/logo-icon-dark.png);
}
.logo-icon-white-b:before {
  background: url("../img/logo-white-icon.png");
  background-size: cover;
  margin-right: 5px;
}
.logo-icon-green-b:before {
  content: '';
  display: inline-block;
  background: url("../img/logo-green.png");
  background-size: cover;
  margin-right: 5px;
}
.menu__link:before {
  content: '';
  width: 22px;
  height: 24px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/menu-icons-sprite.png) no-repeat;
}
.menu__link_map-icon:before {
  background-position: center 0;
}
.menu__link_news-icon:before {
  background-position: center -25px;
}
.menu__link_mess-icon:before {
  background-position: center -49px;
}
.menu__link_people-icon:before {
  background-position: center -73px;
}
.menu__link_meet-icon:before {
  background-position: center -96px;
}
.menu__link_event-icon:before {
  background-position: center -121px;
}
.menu__link_cab-icon:before {
  background-position: center -145px;
}
.menu__link_sett-icon:before {
  background-position: center -169px;
}
.filter-icon-b:before {
  content: '';
  width: 17px;
  height: 18px;
  display: inline-block;
  background: url(../img/filter-normal-icon.png) center left no-repeat;
  vertical-align: middle;
  margin-top: -3px;
}
.arrow-icon {
  width: 6px;
  height: 15px;
  display: none;
  float: right;
  margin-right: 3px;
  background: url(../img/arrow.png) center center no-repeat;
}
.arrow-icon_small {
  width: 10px;
  float: right;
  margin-top: 6px;
  height: 5px;
  display: inline-block;
  margin-left: 10px;
  background: url(../img/arrow-small.png) center center no-repeat;
  background-size: cover;
}
.filter-clear-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url(../img/filter-clean-icon.png) center center no-repeat;
  vertical-align: middle;
}
.filter-peoples-icon-b:before {
  content: '';
  width: 22px;
  height: 24px;
  display: inline-block;
  background: url("../img/filter-icons-sprite.png") -24px 0 no-repeat;
  vertical-align: middle;
}
.filter-events-icon-b:before {
  content: '';
  width: 22px;
  height: 24px;
  display: inline-block;
  background: url("../img/filter-icons-sprite.png") -24px -24px no-repeat;
  vertical-align: middle;
}
.filter-meetings-icon-b:before {
  content: '';
  width: 22px;
  height: 24px;
  display: inline-block;
  background: url("../img/filter-icons-sprite.png") -24px -48px no-repeat;
  vertical-align: middle;
}
.user-location {
  width: 56px;
  height: 56px;
  display: block;
  background: url("../img/user-location-icon.png") center center no-repeat;
  background-size: cover;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.24);
  border-radius: 50%;
  cursor: pointer;
}
.zoomIn {
  width: 11px;
  height: 11px;
  display: block;
  background: url("../img/zoom-in-icon.png") center center no-repeat;
}
.zoomOut {
  width: 11px;
  height: 11px;
  display: block;
  background: url("../img/zoom-out-icon.png") center center no-repeat;
}
.place-icon-b:before {
  content: '';
  width: 13px;
  height: 18px;
  display: inline-block;
  background: url("../img/pin-user-card.png");
  vertical-align: text-bottom;
  margin-right: 10px;
}
.close-but-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: text-bottom;
  background: url("../img/exit-user-card.png");
}
.date-icon-b:before {
  content: '';
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url("../img/clock-icon.png");
  vertical-align: text-bottom;
  margin-right: 10px;
}
.people-icon-b:before {
  content: '';
  width: 15px;
  height: 9px;
  display: inline-block;
  background: url("../img/user-icon.png") center center no-repeat;
  margin-right: 6px;
}
.search-icon-b:before {
  content: '';
  display: inline-block;
  width: 19px;
  height: 20px;
  background: url("../img/search-icon.png") center center no-repeat;
}
.settings-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../img/settings-icon.png") center center no-repeat;
}
.menu-icon {
  display: inline-block;
  width: 4px;
  height: 16px;
  background: url("../img/menu-icon.png") center center no-repeat;
}
.profile-address-icon-b:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 14px;
  vertical-align: bottom;
  background: url("../img/profile-pin-icon.png") center center no-repeat;
  margin-right: 5px;
}
.profile-settings-type-2-icon {
  width: 19px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  background: url("../img/settings-type-2-icon.png") center center no-repeat;
}
.profile-calendar-icon-b:before {
  content: '';
  width: 14px;
  height: 15px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  background: url("../img/calendar-profile-icon.png");
}
.profile-about-icon-b:before {
  content: '';
  width: 18px;
  height: 18px;
  vertical-align: bottom;
  background: url("../img/info-icon.png");
  display: inline-block;
  margin-right: 10px;
}
.profile-card-pin-icon-b:before {
  content: '';
  width: 14px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
  background: url("../img/profile-card-sprite.png") -16px 0 no-repeat;
  vertical-align: middle;
}
.profile-card-pin-icon-b_gray:before {
  background-position: -16px bottom;
}
.profile-card-clock-icon-b:before {
  content: '';
  width: 14px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
  background: url("../img/profile-card-sprite.png") 0 0 no-repeat;
  vertical-align: middle;
}
.profile-card-clock-icon-b_gray:before {
  background-position: 0 bottom;
}
.profile-card-people-icon-b:before {
  content: '';
  width: 14px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
  background: url("../img/profile-card-sprite.png") -33px -1px no-repeat;
  vertical-align: middle;
}
.profile-birthday-icon-b:before {
  content: '';
  width: 17px;
  height: 21px;
  display: inline-block;
  vertical-align: bottom;
  background: url("../img/profile-info-icons-sprite.png") 0 -2px no-repeat;
  margin-right: 12px;
}
.profile-phone-icon-b:before {
  content: '';
  width: 17px;
  height: 21px;
  display: inline-block;
  vertical-align: bottom;
  background: url("../img/profile-info-icons-sprite.png") 0 -25px no-repeat;
  margin-right: 12px;
}
.app-store-icon-b:before {
  content: '';
  background: url("../img/stores-sprite.png") right center no-repeat;
  display: inline-block;
  height: 30px;
  width: 26px;
  vertical-align: middle;
  margin-right: 5px;
}
.play-market-icon-b:before {
  content: '';
  background: url("../img/stores-sprite.png") left center no-repeat;
  display: inline-block;
  height: 30px;
  width: 26px;
  vertical-align: middle;
  margin-right: 5px;
}
.info-date-icon-b:before {
  content: '';
  display: inline-block;
  width: 19px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
  background: url("../img/info-box-sprite.png") 0 -40px no-repeat;
}
.info-price-icon-b:before {
  content: '';
  display: inline-block;
  width: 19px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
  background: url("../img/info-box-sprite.png") 0 -20px no-repeat;
}
.info-place-icon-b:before {
  content: '';
  display: inline-block;
  width: 19px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
  background: url("../img/info-box-sprite.png") 0 0 no-repeat;
}
.button-icon-accept-b:before {
  content: '';
  width: 15px;
  height: 16px;
  display: inline-block;
  margin-right: 7px;
  vertical-align: middle;
  background: url("../img/button-sprite.png") 0 0 no-repeat;
}
.button-icon-message-b:before {
  content: '';
  width: 19px;
  height: 15px;
  display: inline-block;
  margin-right: 7px;
  vertical-align: middle;
  background: url("../img/button-sprite.png") -17px 0 no-repeat;
}
.decline-icon-b:before {
  content: '';
  height: 10px;
  width: 12px;
  display: inline-block;
  margin-right: 15px;
  background: url("../img/meeting-button-icons.png") 0 -1px;
}
.accept-icon-b:before {
  content: '';
  height: 12px;
  width: 16px;
  display: inline-block;
  margin-right: 15px;
  background: url("../img/meeting-button-icons.png") -13px 0;
}
.meeting-status-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url("../img/meeting-status-icon.png");
}
.meeting-status-icon_declined {
  background-position: 0 0;
}
.meeting-status-icon_accepted {
  background-position: -18px 0;
}
.meeting-status-icon_invited {
  background-position: -36px 0;
}
a {
  outline: none;
}
.main {
  height: 100vh;
  display: block;
  position: relative;
  margin-left: 226px;
  box-sizing: border-box;
}
.menu {
  display: block;
  white-space: nowrap;
  background: #262626;
  position: relative;
  height: 100vh;
  width: 226px;
}
.menu .ngsb-container {
  height: 100vh;
}
.menu__header {
  display: block;
  padding: 22px 17px;
  padding-bottom: 7px;
}
.menu__footer {
  display: block;
  padding: 12px 20px;
  background: #212121;
  border-top: 1px solid #1c1c1c;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}
.menu__footer .logo {
  margin-bottom: 10px;
}
.menu__item {
  white-space: normal;
}
.menu__list {
  border-bottom: 1px solid #1c1c1c;
}
.menu__link {
  box-sizing: content-box;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  padding: 13px 13px 13px 25px;
  display: block;
  background: #262626;
  position: relative;
  text-transform: capitalize;
  border-top: 1px solid #1c1c1c;
  outline: none;
}
.menu__link_dark {
  background: #212121;
  color: #4e4e4e;
}
.menu__link:hover,
.menu__link:active {
  background: #404040;
  border-color: #404040;
}
.menu__navigation {
  margin-bottom: 90px;
}
.menu__message {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%;
  background: #f44336;
  text-align: center;
  vertical-align: middle;
  float: right;
  line-height: 24px;
  font-size: 14px;
}
.user {
  display: block;
  position: relative;
  margin-bottom: 7px;
}
.user__link {
  text-decoration: none;
  display: inline-block;
}
.user__img {
  display: inline-block;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}
.user__name,
.user__surname {
  display: inline-block;
  font: 500 18px/1 "Roboto", sans-serif;
  color: #fff;
  vertical-align: middle;
  text-decoration: none;
}
.ponches {
  white-space: normal;
  display: inline-block;
  font-size: 0;
}
.ponches__item {
  display: inline-block;
  margin-top: 8px;
}
.ponches__counter {
  display: inline-block;
}
.ponches__link {
  display: inline-block;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  background: #727373;
  border-radius: 10px;
  margin-right: 5px;
  padding: 5px 8px;
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ponches__link_round {
  padding: 5px 6px;
  border-radius: 50%;
}
.ponches__link_change {
  background: #f44336;
}
.ponches__link.favorite {
  background: #45B648;
}
.logo {
  display: inline-block;
  text-transform: uppercase;
}
.logo__text {
  color: #4e4e4e;
  font-size: 16.6px;
  text-align: center;
  font-weight: 500;
}
.logo__text:before {
  margin-top: -4px;
  margin-right: 8px;
}
.logo__text_white {
  color: #fff;
}
.logo__text_green {
  color: #45b648;
  font-size: 18px;
  text-transform: uppercase;
}
.logo_white {
  margin-bottom: 0;
}
.copyright {
  text-align: center;
  font-size: 12px;
  color: #4e4e4e;
  font-weight: 500;
}
.copyright p:not(:last-child) {
  margin-bottom: 7px;
}
.filter {
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.44);
  display: inline-block;
  border: 1px solid #ececec;
}
.filter.active .filter__items,
.filter.active .filter__controls {
  display: block;
}
.filter.active .filter__h {
  display: inline-block;
}
.filter.active .filter-icon-b:before {
  background-position: center right;
}
.filter.active .arrow-icon {
  display: inline-block;
}
.filter__head {
  color: #aeaeae;
  font-weight: 500;
  padding: 10px;
  font-size: 16px;
  display: block;
  cursor: pointer;
  position: relative;
}
.filter__head:before {
  margin-top: -4px;
  margin-right: 8px;
}
.filter__head.active .arrow-icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.filter__head.active .filter__sub-list {
  display: block;
}
.filter__head.selected.filter-peoples-icon-b:before {
  background-position: 0 0;
}
.filter__head.selected.filter-meetings-icon-b:before {
  background-position: 0 -48px;
}
.filter__head.selected.filter-events-icon-b:before {
  background-position: 0 -24px;
}
.filter__h {
  text-transform: uppercase;
  font-size: 16px;
  color: #45B648;
  display: none;
  margin-left: 11px;
}
.filter__sub-list {
  display: none;
  background: #f6f6f6;
  padding: 15px;
  color: #aeaeae;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.filter__row {
  font-size: 14px;
  font-weight: 500;
}
.filter__row:not(:last-child) {
  margin-bottom: 10px;
}
.filter__row_h {
  text-transform: uppercase;
}
.filter__controls {
  padding: 4px;
  display: none;
  text-align: center;
}
.filter__items {
  display: none;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.filter__submit {
  color: #45B648;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 7px 16px;
  border-left: 1px solid #ececec;
  display: inline-block;
  cursor: pointer;
}
.filter__clear {
  padding: 7px 12px;
  display: inline-block;
  cursor: pointer;
}
.filter__item.active .filter__sub-list {
  display: block;
}
.radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(../img/radio-sprite.png) center 0 no-repeat;
  vertical-align: middle;
  margin: 0;
  margin-top: 1px;
  outline: none;
}
.radio:checked {
  background: url(../img/radio-sprite.png) center -23px no-repeat;
}
.input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: 1px solid #aeaeae;
  padding: 6px 8px;
  border-radius: 2px;
  width: 32px;
  box-sizing: border-box;
  font-size: 13px;
  text-align: center;
  color: #8c8c8c;
}
.input:focus {
  border-color: #45B648;
}
.map {
  position: relative;
  display: block;
  height: 100vh;
}
.map-controls_user-pos {
  position: absolute;
  bottom: 24px;
  left: 24px;
  border-radius: 50%;
  z-index: 2;
}
.map-controls_resize {
  position: absolute;
  bottom: 96px;
  left: 37px;
  z-index: 2;
}
.map-controls_filter {
  position: absolute;
  top: 24px;
  right: 24px;
}
.map-controls_card {
  text-align: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  right: 50%;
}
.resize {
  background: #fff;
  padding: 0 5px;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.44);
  display: inline-block;
  border-radius: 2px;
}
.resize__item {
  padding: 9px 5px;
  cursor: pointer;
}
.resize__item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.card {
  display: inline-block;
  text-align: left;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  position: relative;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}
.card .ponches__item {
  margin-top: 0;
}
.card__prev-button {
  display: block;
  width: 48px;
  background: url("../img/arrow-left.png") center center no-repeat rgba(246, 246, 246, 0.5);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin-left: -48px;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.4);
}
.card__prev-button.active,
.card__prev-button:hover {
  background-color: #f6f6f6;
}
.card__next-button {
  display: block;
  width: 48px;
  background: url("../img/arrow-right.png") center center no-repeat rgba(246, 246, 246, 0.5);
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin-right: -48px;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.4);
}
.card__next-button.active,
.card__next-button:hover {
  background-color: #f6f6f6;
}
.card__content {
  background: #fff;
  display: table-cell;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  position: relative;
  z-index: 2;
}
.card__header {
  background: #f6f6f6;
  color: #898989;
  font-size: 14px;
  padding: 10px 14px;
  font-weight: 500;
  border-bottom: 1px solid #ebebeb;
}
.card__header.favorite {
  background: #45B648;
  color: #fff;
}
.card__header.favorite .card__close-button {
  background-position: 0 -18px;
}
.card__header.favorite .card__event-date:before {
  background-position: 0 -20px;
}
.card__header.favorite .card__place:before {
  background-position: 0 -19px;
}
.card__info {
  padding: 11px 13px;
  white-space: normal;
  height: 85px;
  min-width: 450px;
  box-sizing: border-box;
}
.card__place,
.card__event-date,
.card__close-button {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.card__close-button {
  margin-right: -4px;
  cursor: pointer;
}
.card__place {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  white-space: nowrap;
}
.card__counter {
  position: absolute;
  right: 10px;
  bottom: 11px;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  color: #bfbfbf;
}
.card__preview {
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 16px;
  margin-top: 6px;
}
.card__preview-status {
  width: 10px;
  height: 10px;
  border: 3px solid #fff;
  border-radius: 50%;
  background: #45B648;
  display: block;
  position: absolute;
  right: -4px;
  bottom: 4px;
}
.card__img {
  width: 100%;
  border-radius: 50%;
}
.card__main {
  display: inline-block;
  vertical-align: top;
}
.card__main > *:not(:last-child) {
  margin-bottom: 5px;
}
.card__event-type {
  color: #45B648;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
}
.card__members-count {
  font-size: 12px;
  color: #bfbfbf;
  display: inline-block;
}
.card__members,
.card__event-name {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  color: #222622;
  display: block;
}
.card__member-name:not(:last-child):after {
  content: ',';
}
.card__event-name,
.card__members {
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card__message {
  font-size: 14px;
  color: #45B648;
  font-weight: 500;
}
.card__distance {
  font-size: 14px;
  font-weight: 500;
  color: #45B648;
  margin-left: 10px;
  margin-top: 20px;
}
.users {
  box-sizing: border-box;
  height: 100vh;
  position: relative;
}
.users .ponches__link {
  max-width: 55px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.users__list {
  padding: 0 35px;
}
.controls {
  white-space: nowrap;
  box-sizing: border-box;
}
.controls_mt {
  margin-top: 40px;
  padding: 0 35px;
}
.controls > * {
  padding-left: 7px;
  padding-right: 7px;
}
.controls > :first-child {
  padding-left: 0;
}
.controls > :last-child {
  padding-right: 0;
}
.controls__button {
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 4px;
  background: #f44336;
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  cursor: pointer;
  padding: 10px 18px;
  text-decoration: none;
}
.controls__container {
  display: table-cell;
  vertical-align: middle;
}
.controls__text,
.controls__divider,
.controls__icon {
  display: table-cell;
  vertical-align: middle;
}
.controls__icon {
  cursor: pointer;
  padding: 0 8px;
}
.controls__text {
  font-weight: 400;
  color: #262626;
  font-size: 24px;
}
.controls__text_small {
  color: #262626;
  font-weight: 500;
  font-size: 16px;
  display: table-cell;
  vertical-align: middle;
}
.controls__divider {
  box-sizing: border-box;
}
.controls__divider_1 {
  width: 100%;
}
.controls__divider_2 {
  width: 50%;
}
.controls__counter {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background: #6d6d6d;
  padding: 4px 8px;
  border-radius: 50%;
  margin-left: 10px;
}
.controls__counter.favorite {
  background: #45b648;
}
.line {
  height: 1px;
  background: #d9d9d9;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.fast-filter__radio:checked + .fast-filter__label {
  background: #45b648;
  color: #fff;
}
.fast-filter {
  display: table-cell;
  vertical-align: middle;
  font-size: 0;
}
.fast-filter__radio {
  display: none;
}
.fast-filter__label {
  font-weight: 500;
  font-size: 13px;
  color: #45b648;
  border: 1px solid #45b648;
  display: inline-block;
  padding: 10px 20px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}
.fast-filter__label:not(:last-child) {
  border-right: 0;
}
.fast-filter__label:nth-child(2) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.fast-filter__label:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.users-list {
  padding: 0 35px;
  box-sizing: border-box;
  display: block;
  margin: 0 -6px;
  margin-top: 30px;
  text-align: center;
}
.users-list__img {
  width: 100%;
  border-radius: 4px;
}
.users-list__item {
  text-align: left;
  display: inline-block;
  margin: 0 6px;
  margin-bottom: 10px;
  border-radius: 4px;
  position: relative;
  width: 210px;
  height: 210px;
  overflow: hidden;
}
.users-list__link {
  display: block;
}
.users-list__link:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0), #000000);
  background: linear-gradient(rgba(255, 255, 255, 0), #000000);
  border-radius: 4px;
}
.short-info-box {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 10px;
  box-sizing: border-box;
}
.short-info-box__name {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  margin-top: 8px;
  max-width: 70%;
}
.short-info-box__name_block {
  display: block;
}
.short-info-box__distance {
  color: #45b648;
  font-weight: 500;
  font-size: 13px;
  margin-top: 8px;
  display: inline-block;
}
.short-info-box__distance_block {
  display: block;
}
.profile {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: block;
}
.profile__header {
  overflow: hidden;
  height: 250px;
  position: relative;
}
.profile__bg {
  width: 100%;
  min-height: 100%;
}
.profile__controls {
  position: absolute;
  top: 30px;
  right: 30px;
}
.profile__control {
  vertical-align: middle;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.profile__control:not(:last-child) {
  margin-right: 13px;
}
.profile__main {
  margin-top: -77px;
  text-align: center;
  position: relative;
  margin-bottom: 14px;
}
.profile__last-seen,
.profile__address {
  color: #fff;
  background: rgba(38, 38, 38, 0.5);
  display: inline-block;
  border-radius: 4px;
  vertical-align: middle;
  padding: 8px;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  bottom: 75px;
  max-width: 180px;
  width: 100%;
}
.profile__last-seen {
  right: 160px;
}
.profile__address {
  left: 160px;
}
.profile__preview {
  display: inline-block;
  position: relative;
  width: 141px;
}
.profile__img_round {
  width: 100%;
  border-radius: 50%;
  border: 7px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
}
.profile__status {
  width: 12px;
  height: 12px;
  background: #45b648;
  border: 5px solid #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 17px;
  right: 14px;
}
.profile__name {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
.profile__share {
  text-align: center;
  margin-top: 18px;
}
.profile__menu {
  border: 1px solid #f44336;
  border-radius: 4px;
  display: inline-block;
  padding: 7px 7px;
  margin-right: 10px;
  vertical-align: middle;
  cursor: pointer;
}
.profile__invite {
  color: #fff;
  background: #f44336;
  display: inline-block;
  padding: 9px 14px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}
.profile__ponches {
  max-width: 80%;
  display: inline-block;
  margin-top: 16px;
}
.profile__data {
  padding: 40px 25px 25px 25px;
  text-align: left;
  font-size: 0;
  display: block;
}
.profile__filter {
  display: inline-block;
  width: 66.66%;
}
.profile__info {
  width: 33.3333%;
  display: inline-block;
  vertical-align: middle;
  padding: 0 30px;
  box-sizing: border-box;
}
.profile__about-button {
  display: block;
  cursor: pointer;
  vertical-align: middle;
  height: 35px;
}
.profile__text {
  color: #262626;
  font-weight: 500;
  font-size: 16px;
  vertical-align: middle;
  display: inline-block;
  height: 35px;
  padding-top: 9px;
  box-sizing: border-box;
}
.profile__events {
  margin: 0 -6px;
  margin-top: 20px;
  text-align: left;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}
.profile__user-info {
  margin-top: 20px;
  color: #a6a6a6;
  font-size: 17px;
  font-weight: 500;
}
.profile__user-info > * {
  margin-bottom: 15px;
}
.profile__years-count {
  margin-left: 5px;
}
.event-card {
  display: inline-block;
  position: relative;
  width: 290px;
  height: 160px;
  margin: 0 6px 6px 6px;
  box-sizing: border-box;
  text-align: left;
  overflow: hidden;
  border-radius: 4px;
}
.event-card .short-info-box__distance {
  display: none;
}
.event-card .location-info-box__people-count {
  display: none;
}
.event-card__link {
  display: block;
}
.event-card__link:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.6) 100%);
  background: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.6) 100%);
  border-radius: 4px;
}
.event-card__link:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}
.event-card__link:hover .short-info-box__distance {
  display: inline-block;
}
.event-card__link:hover .location-info-box__people-count {
  display: inline-block;
}
.event-card__img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin: 0;
}
.location-info-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 10px 12px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}
.location-info-box_static {
  position: relative;
  background: #f6f6f6;
  color: #8a8a8a;
}
.location-info-box > *:not(:last-child) {
  margin-bottom: 6px;
}
.sign-up {
  height: 100%;
  overflow-y: scroll;
}
.sign-in {
  background: url("../img/main-bg.jpg") top center no-repeat;
  min-height: 100%;
  background-size: cover;
  height: 100%;
  overflow-y: scroll;
}
.sign-in__header {
  padding: 40px 15px;
}
.sign-in__blocks {
  display: table;
  min-height: 100vh;
  margin-top: -110px;
  padding-top: 110px;
  box-sizing: border-box;
}
.sign-in__block {
  width: 50%;
  padding: 15px;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
}
.sign-in__about {
  padding-right: 15px;
  box-sizing: border-box;
  color: #fff;
}
.sign-in__text_h {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 25px;
  line-height: 1.1;
}
.sign-in__text_p {
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 50px;
  line-height: 1.5;
}
.stores {
  display: block;
}
.stores__store {
  display: inline-block;
  padding: 8px 16px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  opacity: 0.8;
}
.stores__store:hover,
.stores__store:focus {
  opacity: 1;
  outline: none;
}
.stores__store:not(:last-child) {
  margin-right: 20px;
}
.stores__text {
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  font-size: 12px;
  color: #202020;
}
.stores__name {
  font-size: 16px;
  font-weight: 700;
}
.form {
  background: #fff;
  padding: 35px 60px;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 380px;
  box-sizing: border-box;
  position: relative;
}
.form_full {
  width: 100%;
  max-width: 100%;
  padding: 0;
}
.form__validation-text {
  display: block;
  color: #f44336;
  font-size: 14px;
  line-height: 1.5;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
}
.form__validation-text.ng-enter {
  -webkit-animation: slideInUp 1s linear;
          animation: slideInUp 1s linear;
}
.form__validation-text.ng-leave {
  -webkit-animation: slideOutDown 1s linear;
          animation: slideOutDown 1s linear;
}
.form_small {
  padding: 10px;
  line-height: 48px;
  margin: 0 auto;
  display: block;
  text-align: left;
}
.form__textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  resize: none;
  width: 100%;
  height: 60px;
  color: #404040;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 3px;
  padding: 18px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: inherit;
}
.form__textarea ::-webkit-input-placeholder {
  color: #bfbfbf;
}
.form__textarea ::-moz-placeholder {
  color: #bfbfbf;
}
.form__textarea :-moz-placeholder {
  color: #bfbfbf;
}
.form__textarea :-ms-input-placeholder {
  color: #bfbfbf;
}
.form__label {
  font-size: 14px;
  color: #666666;
  font-weight: 500;
  max-width: 100px;
  padding-right: 20px;
  box-sizing: border-box;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}
.form__text {
  font-size: 26px;
  color: #616161;
}
.form__text_small {
  font-weight: 400;
  font-size: 12px;
  color: #616161;
  text-decoration: underline;
}
.form__item {
  width: 100%;
}
.form__item:not(:last-child) {
  margin-bottom: 10px;
}
.form__socials {
  margin-bottom: 25px;
}
.form__wrapper {
  width: 260px;
  font-size: 0;
}
.form__input {
  text-align: left;
  width: 100%;
  color: #45b648;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #e1e1e1;
  outline: none;
  border-radius: 4px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
}
.form__input ::-webkit-input-placeholder {
  color: #616161;
}
.form__input ::-moz-placeholder {
  color: #616161;
}
.form__input :-moz-placeholder {
  color: #616161;
}
.form__input :-ms-input-placeholder {
  color: #616161;
}
.form__input:focus {
  border-color: #45b648;
}
.form__buttons {
  display: table;
  width: 100%;
}
.form__button {
  display: table-cell;
  width: 50%;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  line-height: 46px;
  text-decoration: none;
  outline: none;
  opacity: 0.9;
}
.form__button:hover {
  opacity: 1;
}
.form__button:not(:last-child) {
  padding-right: 15px;
}
.form__button_sign-in {
  border: 1px solid #45b648;
  color: #45b648;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}
.form__button_submit {
  background: #45b648;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  line-height: 46px;
  display: inline-block;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  box-shadow: none;
  font-family: inherit;
}
.form__button_submit-2 {
  background: #45b648;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 35px;
  display: inline-block;
  padding: 0 44px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  box-shadow: none;
  font-family: inherit;
}
.form__radio {
  display: none;
}
.form__radio:checked + label {
  background: url("../img/form-radio.png") left center;
}
.form__radio-item {
  display: inline-block;
  margin-right: 20px;
}
.form__radio-label {
  padding-left: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #cacaca;
  vertical-align: middle;
}
.form__radio-label_bg {
  content: '';
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url("../img/form-radio.png") right center;
  vertical-align: middle;
}
.separator {
  display: table;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 25px;
}
.separator__line-wrapper {
  width: 50%;
  display: table-cell;
}
.separator__line {
  height: 1px;
  background: #e1e1e1;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
.separator__text {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #e1e1e1;
  display: table-cell;
  padding: 0 15px;
}
.events {
  min-height: 100vh;
}
.events__list {
  padding: 35px;
  box-sizing: border-box;
  font-size: 0;
  margin: 0 -6px;
}
.event-profile {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.event-profile__bg {
  display: block;
  min-width: 100%;
  min-height: 100vh;
}
.event-profile__scroll-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
}
.event-profile__content {
  max-width: 475px;
  min-height: 100vh;
  background: rgba(28, 38, 28, 0.85);
  display: block;
  padding: 20px 35px 20px 30px;
  box-sizing: border-box;
}
.event-profile__controls {
  text-align: right;
  margin-right: -20px;
}
.event-profile__control {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #fff;
  margin-left: 10px;
  cursor: pointer;
  opacity: .4;
}
.event-profile__control:hover {
  opacity: 1;
}
.event-profile__name {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  color: #45b648;
  margin-bottom: 15px;
  display: block;
}
.event-profile__event-name {
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  color: #fff;
  margin-bottom: 15px;
}
.event-profile__ponches {
  margin-bottom: 15px;
}
.event-profile__text {
  font-weight: 500;
  font-size: 13px;
  color: #b2b2b2;
  line-height: 21px;
  margin-bottom: 15px;
}
.event-profile__info-box {
  margin-bottom: 25px;
}
.event-profile__buttons {
  margin-bottom: 25px;
}
.event-profile__users-previews-list {
  margin-bottom: 30px;
}
.info-box {
  display: block;
}
.info-box__text {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}
.info-box__text:not(:last-child) {
  margin-bottom: 15px;
}
.button {
  width: 145px;
  line-height: 36px;
  display: inline-block;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-right: 15px;
  cursor: pointer;
  text-decoration: none;
}
.button_red {
  background: #f44336;
}
.button_green {
  background: #45b648;
}
.avatar {
  position: relative;
  display: inline-block;
}
.avatar_block {
  display: block;
}
.avatar__img {
  border-radius: 50%;
  width: 40px;
  display: inline-block;
}
.avatar__img_big {
  width: 62px;
  height: 62px;
}
.avatar__img_border {
  border: 3px solid #707070;
  vertical-align: middle;
}
.avatar__status {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 7px;
  height: 7px;
  border: 3px solid #fff;
  border-radius: 50%;
  background: #45b648;
}
.avatar__status_big {
  width: 16px;
  height: 16px;
  border-width: 5px;
}
.user-preview {
  width: 40px;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user-preview_dark {
  color: #212121;
}
.user-preview__name {
  display: inline;
  line-height: 18px;
}
.users-previews-list > :not(:last-child) {
  margin-right: 17px;
}
.users-previews-list__counter {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 50%;
  background: #45b648;
  white-space: normal;
}
.admins-previews-list__item {
  display: block;
  margin-bottom: 8px;
}
.admins-preview {
  display: inline-block;
  text-decoration: none;
}
.admins-preview > * {
  vertical-align: middle;
}
.admins-preview__info {
  display: inline-block;
}
.admins-preview__name {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 18px;
}
.admins-preview__position {
  font-size: 13px;
  font-weight: 500;
  color: #999999;
  line-height: 18px;
}
.meetings {
  min-height: 100vh;
}
.meetings__list {
  padding: 30px 35px;
  margin: 0 -5px;
}
.meeting-card {
  display: inline-block;
  width: 285px;
  margin: 0 5px 10px 5px;
  border-radius: 2px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.55);
}
.meeting-card__link {
  text-decoration: none;
}
.meeting-card__members {
  padding: 16px 12px;
}
.meeting-card__members > :not(:first-child) {
  vertical-align: top;
  margin-right: 10px;
}
.meeting-card__fullinfo {
  display: inline-block;
}
.meeting-card__fullinfo > * {
  vertical-align: middle;
}
.meeting-card__info {
  display: inline-block;
}
.meeting-card__name {
  font-size: 16px;
  font-weight: 500;
  color: #212121;
}
.meeting-card__distance {
  color: #45b648;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
  margin-top: 15px;
}
.meeting-card__invite {
  color: #ffa600;
  font-weight: 500;
  font-size: 12px;
}
.meeting-card__buttons > :not(:last-child) {
  border-right: 1px solid #ededed;
}
.meeting-card__button {
  display: inline-block;
  width: 50%;
  float: left;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border-top: 1px solid #ededed;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  padding: 14px 0;
}
.meeting-card__button_accept {
  color: #45b648;
}
.meeting-card__button_decline {
  color: #f44336;
}
.sign-up__header {
  box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.14);
  padding: 15px 10px;
  box-sizing: border-box;
  margin-bottom: 12px;
  line-height: 48px;
}
.sign-up__header-content {
  max-width: 1170px;
  margin: 0 auto;
}
.sign-up__button {
  color: #45b648;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 0 46px;
  border-radius: 3px;
  border: 1px solid #45b648;
  text-transform: uppercase;
}
.sign-up__h1 {
  font-size: 24px;
  line-height: 60px;
  margin-bottom: 15px;
  text-align: center;
  color: #666666;
}
.chat-list {
  width: 300px;
  background: #404040;
  height: 100vh;
  box-sizing: border-box;
  display: inline-block;
}
.chat-list__header {
  font-size: 28px;
  color: #fff;
  margin-bottom: 28px;
  margin-top: 45px;
  padding: 0 35px;
}
.chat-list__list {
  margin-bottom: 35px;
}
.chat-list__info {
  display: inline-block;
  width: 180px;
  padding: 0 10px;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
}
.chat-list__link {
  text-decoration: none;
  display: block;
  padding: 10px 35px;
}
.chat-list__link:hover {
  background: #262626;
}
.chat-list__name {
  color: #b2b2b2;
  font-size: 14px;
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.chat-list__online {
  color: #45b648;
  font-size: 12px;
  font-weight: 500;
}
.chat-list__last-seen {
  color: #666666;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.chat-list__status {
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 0;
  width: 5px;
  height: 5px;
  background: #f44336;
  border-radius: 50%;
}
.chat-list__user {
  display: inline-block;
}
.chat-list__user:not(:last-child):after {
  content: ', ';
}
.chat {
  display: block;
  height: 100vh;
  margin-left: 300px;
  position: relative;
}
.chat__status {
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: -14px;
  width: 5px;
  height: 5px;
  background: #f44336;
  border-radius: 50%;
}
.chat__header {
  display: block;
  width: 100%;
  padding: 15px 35px;
  box-sizing: border-box;
  box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.2);
}
.chat__header > * {
  vertical-align: middle;
}
.chat__info {
  display: inline-block;
  margin-left: 10px;
  max-width: 80%;
}
.chat__name {
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  font-size: 22px;
  color: #404040;
  font-weight: 500;
  margin-bottom: 5px;
}
.chat__last-seen {
  color: #bfbfbf;
  font-weight: 500;
  font-size: 14px;
}
.chat__footer {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0px -2px 4.75px 0.25px rgba(0, 0, 0, 0.2);
}
.chat__content {
  display: block;
  height: 100vh;
  padding: 98px 0 140px 15px;
  margin-right: -10px;
  margin-top: -95px;
  margin-bottom: -138px;
  box-sizing: border-box;
  width: 100%;
  float: left;
}
.chat__messages {
  max-height: 100%;
  height: 100%;
  overflow-y: scroll;
  list-style: none;
  font-size: 14px;
  color: #404040;
  line-height: 20px;
}
.chat__message {
  margin-bottom: 10px;
  position: relative;
}
.chat__message_reverse {
  direction: rtl;
  text-align: right;
}
.chat__message > * {
  vertical-align: middle;
}
.chat__text {
  max-width: 50%;
  display: inline-block;
  word-break: break-all;
  padding: 15px 13px;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
  direction: ltr;
  text-align: left;
}
.chat__text_got {
  background: #e6e6e6;
  margin-right: 18px;
  margin-left: 8px;
}
.chat__text_got:before {
  content: '';
  position: absolute;
  left: -8px;
  bottom: 5px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #e6e6e6;
}
.chat__text_my {
  background: #c2ffc3;
  margin-left: 18px;
  margin-right: 8px;
}
.chat__text_my:after {
  content: '';
  position: absolute;
  right: -8px;
  bottom: 5px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #c2ffc3;
}
.chat__time {
  font-size: 13px;
  color: #bfbfbf;
}
a {
  text-decoration: none;
}
/*
.ponch-editor {
  position: absolute;
  width: 400px;
  max-height: 500px;
  left: 50%;
  top: 50%;
  z-index: 2;
  &__area {
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0 4.75px 0.25px rgba(0, 0, 0, 0.3);

    padding: 30px;
    box-sizing: border-box;
  }
  &__head {
    font-weight: 500;
    color: #2b2b2b;
    font-size: 22px;
    margin-bottom: 20px;
  }

  .form__input {
    width: 70%;
  }

  .form__button {
    width: 30%;
    padding: 0 !important;
  }

  .form__button_submit {
    line-height: 46px;
    display: inline-block;
    vertical-align: top;
  }

  .ponches {
    margin-bottom: 20px;
  }
}*/
.picker {
  position: absolute;
  left: 50%;
  right: 0;
  bottom: 0;
  top: 50%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99;
  padding-left: 50%;
  padding-top: 50%;
  margin-top: -50%;
  margin-left: -50%;
  box-sizing: border-box;
}
.picker__content {
  background: #fff;
  box-shadow: 0 2px 55.18px 6.82px rgba(0, 0, 0, 0.4);
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 100vh;
}
.picker__head {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #2b2b2b;
  padding: 25px 35px;
  border-bottom: 2px solid #eaeaea;
  box-shadow: 0px 1px 0px 0px rgba(247, 247, 247, 0.004);
}
.picker__close-button {
  width: 20px;
  height: 20px;
  background: url("../img/close_button.png");
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  vertical-align: middle;
}
.picker__close-button_green {
  background-position: center right;
}
.picker__inner {
  padding: 20px 35px;
}
.picker__row {
  display: block;
  margin-bottom: 20px;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  width: 380px;
  max-width: 100%;
}
.picker__form {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  border-radius: 5px;
  overflow: hidden;
}
.picker__form > *:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.picker__form > *:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: auto;
  min-width: 90px;
  text-transform: uppercase;
}
.picker__list {
  display: block;
  font-size: 0;
  max-height: 136px;
  overflow-y: scroll;
}
.picker__item {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
.picker__link {
  display: block;
  font-size: 13px;
  font-weight: 500;
  padding: 11px 14px;
  border-radius: 16px;
  color: #666666;
  background: #e7e7e7;
}
.picker__link_edit {
  color: #2c932f;
  background: #bcffbe;
  padding: 8px;
}
.picker__text {
  vertical-align: middle;
}
.picker__button {
  display: block;
  color: #fff;
  text-transform: uppercase;
  background: #45b648;
  text-align: center;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 22px;
  font-weight: 500;
  line-height: 60px;
  cursor: pointer;
  opacity: 0.9;
}
.picker__button:before {
  content: '';
  width: 22px;
  height: 17px;
  background: url("../img/accept_icon.png") center center no-repeat;
  display: inline-block;
  margin-right: 10px;
}
.picker__button:hover {
  opacity: 1;
}
