<div class="menu fl-l">
    <header class="menu__header">
        <div class="user cf">
            <a ui-sref="app.profile" class="user__link fl-l">
                <img ng-src="{{ getUserImgUrl(user.photos.photo200px) }}" alt="" class="user__img">
                <div class="user__name">
                    <p>{{ user.name }}</p>
                    <p>{{ user.surname }}</p>
                </div>
            </a>
            <a ui-sref="authorization" class="logout-icon fl-r" ng-click="logout()"></a>
        </div>
        <div class="ponches">
            <div class="ponches__item ponches__item_mul" ng-repeat="ponch in user.ponches">
                <a href="" class="ponches__link favorite ponch__link_icon-b">{{ ponch.name }}</a>
            </div>

            <p class="ponches__item ponches__item_mul">
                <a href="" class="ponches__link ponches__link_change ponch__link_change-b"
                   ng-click="show = true">Edit</a>
            </p>
        </div>
    </header>
    <nav class="menu__navigation">
        <ul class="menu__list">
            <li class="menu__item"><a href="" class="menu__link menu__link_map-icon" ui-sref="app">Map</a></li>
            <!--  <li class="menu__item"><a href="" class="menu__link menu__link_news-icon">News feed</a></li>-->
            <li class="menu__item"><a href="" class="menu__link menu__link_mess-icon" ui-sref="app.chat">Messages<span
                    class="menu__message" ng-if="getCounter()">{{ getCounter() }}</span></a></li>
            <li class="menu__item"><a href="" class="menu__link menu__link_people-icon" ui-sref="app.users">People</a>
            </li>
            <li class="menu__item"><a href="" class="menu__link menu__link_meet-icon"
                                      ui-sref="app.meetings">Meetings</a></li>
            <li class="menu__item"><a href="" class="menu__link menu__link_event-icon" ui-sref="app.events">Events</a>
            </li>
            <!--<li class="menu__item"><a href="" class="menu__link menu__link_dark menu__link_sett-icon">Settings</a></li>-->
        </ul>
    </nav>
    <footer class="menu__footer">
        <div class="logo">
            <div class="logo__text logo_icon-b">Conneccity</div>
        </div>
        <div class="copyright">
            <p>&copy; 2016 Copyright Conneccity, Inc.</p>
            <p>All rights reserved.</p>
        </div>
    </footer>
</div>
<ponch-picker my="ponchesList" related="related" ng-if="show" hide-func="hidePicker()"
              submit-func="submitPonches(ponches)"></ponch-picker>
<ui-view [ name="content" ] class="main"></ui-view>