<div class="scroll">
    <h1 class="sign-up__h1">
        Event
    </h1>

    <form class="form form_small" ng-submit="create(event)">
        <ul class="form__list">
            <li class="form__item">
                <label for="name" class="form__label">Name:</label>
                <div class="form__wrapper fl-r">
                    <input type="text" id="name"
                           class="form__input form__input_static" ng-model="event.name" required>
                </div>
            </li>

            <li class="form__item">
                <label for="name1" class="form__label">Price:</label>
                <div class="form__wrapper fl-r">
                    <input type="number" id="name1"
                           class="form__input form__input_static" ng-model="event.price" placeholder="$" required>
                </div>
            </li>

            <li class="form__item">
                <label for="name2" class="form__label">Start at:</label>
                <div class="form__wrapper fl-r">
                    <input type="date" id="name2" class="form__input form__input_static" ng-model="event.startAt"
                           required>
                </div>
            </li>
            <li class="form__item">
                <label for="name2" class="form__label">Find place!</label>
                <place-picker></place-picker>
            </li>

            <li class="form__item">
                <label for="pass" class="form__label">Short description:</label>
                <div class="form__wrapper fl-r">
                    <input type="text" id="pass"
                           class="form__input form__input_static" ng-model="event.description">
                </div>
            </li>
            <li class="form__item">
                <div class="form__wrapper fl-r">
                    <div class="form__button fl-r">
                        <input type="submit" class="form__button_submit" value="Submit">
                    </div>
                </div>
            </li>
        </ul>
    </form>
</div>